openapi: 3.2.0
info:
  description: '# Versioning


    The API is in public preview.'
  title: XBOW Lightspeed API
  version: '2026-07-01'
servers:
- description: Default
  url: https://console.xbow.com/
- description: Multi SAAS - Europe data resident instance
  url: https://console.eu.xbow.com/
- description: Multi SAAS - Asia Pacific data resident instance
  url: https://console.sg.xbow.com/
tags:
- description: Endpoints related to Lightspeed assessment requests.
  name: Lightspeed
paths:
  /api/v1/integrations/{integrationId}/lightspeed:
    post:
      description: 'Request a Lightspeed assessment.


        Requires an _integration_ API key.


        Provide `companyInfo` and `contactInfo` to create a new organization, or `organizationId` to add an asset to an existing organization.'
      parameters:
      - in: path
        name: integrationId
        required: true
        schema:
          type: string
      - description: API version to use for this request
        in: header
        name: X-XBOW-API-Version
        required: true
        schema:
          enum:
          - '2026-07-01'
          example: '2026-07-01'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - properties:
                  asset:
                    properties:
                      name:
                        minLength: 1
                        type: string
                      startUrl:
                        format: uri
                        type: string
                    required:
                    - name
                    - startUrl
                    type: object
                  companyInfo:
                    properties:
                      externalId:
                        minLength: 1
                        type: string
                      name:
                        minLength: 1
                        type: string
                    required:
                    - externalId
                    - name
                    type: object
                  contactInfo:
                    properties:
                      email:
                        format: email
                        pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                        type: string
                      firstName:
                        minLength: 1
                        type: string
                      lastName:
                        minLength: 1
                        type: string
                    required:
                    - email
                    - firstName
                    - lastName
                    type: object
                required:
                - asset
                - companyInfo
                - contactInfo
                type: object
              - properties:
                  asset:
                    properties:
                      name:
                        minLength: 1
                        type: string
                      startUrl:
                        format: uri
                        type: string
                    required:
                    - name
                    - startUrl
                    type: object
                  organizationId:
                    type: string
                required:
                - asset
                - organizationId
                type: object
              example:
                asset:
                  name: Main Website
                  startUrl: https://www.acme.com
                companyInfo:
                  externalId: acme-123
                  name: Acme Corp
                contactInfo:
                  email: jane@acme.com
                  firstName: Jane
                  lastName: Doe
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                example:
                  message: Lightspeed request submitted successfully
                properties:
                  message:
                    type: string
                required:
                - message
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - FST_ERR_VALIDATION
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Bad Request
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - ERR_NOT_FOUND
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Not Found
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: The requested resource was not found
        '409':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - ERR_CONFLICT
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Conflict
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: The resource already exists
      security:
      - Authorization: []
      summary: Submit Lightspeed request
      tags:
      - Lightspeed
      operationId: postApiV1IntegrationsByIntegrationIdLightspeed
      x-operation-id-source: derived
components:
  securitySchemes:
    Authorization:
      bearerFormat: API Key
      description: Authorization header with Bearer token
      scheme: bearer
      type: http
