openapi: 3.2.0
info:
  description: "\n# Versioning\n\nThe API is in public preview. This is a stable version that exposes the most common functionality of the platform. If your use case is not covered, tell us so that we can prioritize work for future releases.\n\nAll API endpoints require the `X-XBOW-API-Version` header to be set to a supported version. Requests without a version header will be rejected with a `400 Bad Request` response.\n\n## Version Lifecycle\n\nAPI versions follow a `YYYY-MM-DD` naming convention (for example, `2026-04-01`). During the public preview, each version is supported, without breaking changes, for a minimum of 4 months from its release date. The support window for new versions will increase as the API matures.\n\n| Version    | Release Date | End of Life |\n|------------|--------------|-------------|\n| next       | Rolling      | N/A         |\n| 2026-07-01 | 2026-07-01   | 2026-11-01  |\n| 2026-06-01 | 2026-06-01   | 2026-10-01  |\n| 2026-04-01 | 2026-04-01   | 2026-07-01  |\n\n## The \"next\" Version\n\nThe `next` version provides early access to upcoming API changes. Use it in non-production environments to test and prepare for the next stable release.\n\n- Changes are pushed to `next` as they stabilize\n- `next` becomes the next stable version upon release\n- Breaking changes may occur in `next` before a stable release\n\n## End of Life (EOL)\n\nWhen a version reaches its end-of-life date:\n\n- **API requests** to that version will fail with a `400 Bad Request` response\n- **Webhook subscriptions** for that version will stop emitting events\n\nMigrate to a supported version before the EOL date to avoid service disruption. Also update webhooks to a supported version.\n\n## Changes from 2026-06-01 to 2026-07-01\n\n### Finding workflow metadata\n\nFindings now carry customer-controlled workflow metadata, independent of the XBOW-owned lifecycle fields (state, severity, CVSS):\n\n- `externalWorkflowState`: your own tracking state for the finding.\n- `externalTicketReference`: a reference to an external ticket. May only be present alongside an `externalWorkflowState`.\n\nA new endpoint updates these fields:\n\n- `PATCH /api/v1/findings/:findingId` — Update a finding's `externalWorkflowState` and `externalTicketReference`. Omitted fields are left unchanged; send `null` to clear a field.\n\nThese fields also appear in `GET /api/v1/findings/{findingId}`, `GET /api/v1/assets/{assetId}/findings`, and `finding.changed` webhook payloads for subscriptions pinned to `2026-07-01`.\n\n# Accessing the API\n\nThe API is available at `https://console.xbow.com/api/v1/`. All endpoints require authentication via an API key provided in the `Authorization: Bearer <token>` header.\n\n**Note:** For Lightspeed organizations, the API is available in read-only mode. That is, only `GET` endpoints are available.\n\n## Generate a personal access token (PAT)\n\n1. Log into your XBOW dashboard at https://console.xbow.com with administrator access to the organization you want to generate an API key for.\n1. Click your profile icon in the top right corner and select **Settings**.\n1. In the left sidebar, click **Personal Access Tokens**.\n1. Click **Generate new token**.\n1. Provide a name and select the scope for the token, that is, the organization you want to use it with.\n1. Click **Create**.\n1. Copy and securely store your key (it won't be shown again).\n\nStore API keys securely using environment variables or secret managers. Never commit keys to version control. Rotate keys periodically and revoke compromised keys immediately.\n\n## API request headers\n\nAll API requests require two headers: your API key for authentication and the API version you want to use. For example:\n\n```curl\ncurl -X GET \"https://console.xbow.com/api/v1/assets/{assetId}/findings\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -H \"X-XBOW-API-Version: 2026-07-01\" \\\n  -H \"Content-Type: application/json\"\n```\n\n## Error responses\n\nIn addition to the responses described with each endpoint, the API may also return the following responses:\n\n- `400 Bad Request`: the request was malformed or contained invalid parameters, including missing version header.\n- `401 Unauthorized`: missing an API key or the provided API key is invalid.\n- `403 Forbidden`: the API key is valid, but the user does not have permission to access the requested resource.\n- `429 Too Many Requests`: exceeded rate limit, try again with exponential backoff.\n- `500 Internal Server Error`: an unexpected error occurred, try again with exponential backoff.\n\nThe error response body will be in the following format:\n\n```json\n{\n  \"code\": \"ERR_ERROR_TYPE\",\n  \"error\": \"Error Type\",\n  \"message\": \"Detailed error message\"\n}\n```\n\n# Pagination & Rate Limiting\n\n## Pagination\n\nList endpoints use cursor-based pagination. Use the `limit` query parameter to control page size (1-100, default 20) and the `after` parameter to fetch subsequent pages using the cursor from a previous response.\n\nResponses include an `items` array and a `nextCursor` field:\n\n```json\n{\n  \"items\": [...],\n  \"nextCursor\": \"eyJpZCI6IjEyMyJ9\"\n}\n```\n\nTo fetch the next page, pass the `nextCursor` value as the `after` parameter in your next request. When `nextCursor` is `null`, there are no more results.\n\n## Rate Limiting\n\nAPI requests are subject to rate limiting. If you receive a `429 Too Many Requests` response, implement exponential backoff before retrying.\n\n"
  title: XBOW Webhooks API
  version: '2026-07-01'
servers:
- description: Default
  url: https://console.xbow.com/
- description: Multi SAAS - Europe data resident instance
  url: https://console.eu.xbow.com/
- description: Multi SAAS - Asia Pacific data resident instance
  url: https://console.sg.xbow.com/
tags:
- description: "Manage webhook subscriptions and receive event notifications.\n\nWhen creating an organization, you may provide an HTTPS webhook URL to receive events related to the organization's resources.\n\nWe implement _best-effort_ delivery of events, soon after they occur. We will not retry delivery if it fails for any reason.\n\n## Webhook Versioning\n\nWebhook payloads follow the API version of the subscription. When a version reaches its end-of-life date, webhook subscriptions for that version will stop emitting events. Ensure your integration is updated to a supported version before the EOL date.\n\n## Signature Verification\n\nEach request will be a `POST` request sent with the following headers:\n* `X-Signature-Timestamp`: A Unix timestamp in seconds.\n* `X-Signature-Ed25519`: An hex string representing an Ed25519 signature of the concatenation of the timestamp and the request body, signed with XBOW's private key.\n\nYou must verify the signature using the public key from the `GET /api/v1/meta/webhooks-signing-keys` endpoint.\nYou must verify that the timestamp is within a valid range from the current time to prevent replay attacks. An example of a valid range might be +/-5 minutes.\nYou should respond with a 2xx status code if the signature is valid, and a 401 status code otherwise.\nBefore organization creation, we will send two test `ping` events. One signed with XBOW's private key, and one signed with an invalid key. This allows you to verify that your signature verification is working correctly.\n\nFor example, if you're using Node.js:\n\n```javascript\nimport consumers from \"node:stream/consumers\";\n\n// Fetch the public key from the API (cache this - it rarely changes)\nconst keysResponse = await fetch(\"https://console.xbow.com/api/v1/meta/webhooks-signing-keys\", {\n  headers: { Authorization: \"Bearer your-api-key\", \"X-XBOW-API-Version\": \"2026-02-01\" }\n});\nconst keys = await keysResponse.json();\nconst publicKeyBase64 = keys[0].publicKey;\n\n// Import the public key (SPKI format, base64-encoded)\nconst publicKey = await crypto.subtle.importKey(\n  \"spki\",\n  Buffer.from(publicKeyBase64, \"base64\"),\n  { name: \"Ed25519\" },\n  false,\n  [\"verify\"],\n);\n\nconst timestamp = req.headers[\"x-signature-timestamp\"];\nconst timestampTime = parseInt(timestamp, 10);\nconst now = Math.floor(Date.now() / 1000);\nconst isValidTimestamp = (Math.abs(now - timestampTime) < 300);\n\nif (!isValidTimestamp) {\n  throw new Error(\"Invalid timestamp\");\n}\n\nconst signature = req.headers[\"x-signature-ed25519\"];\nconst body = await consumers.text(req.body);\nconst isVerified = await crypto.subtle.verify(\n  { name: \"Ed25519\" },\n  publicKey,\n  Buffer.from(signature, \"hex\"),\n  Buffer.from(timestamp + body),\n);\n\nif (!isVerified) {\n  throw new Error(\"Invalid request signature\");\n}\n```\n\n## Upgrading webhook subscriptions\n\nEach subscription is pinned to an API version. When we release a new version, you should plan to migrate your subscriptions to it. Once a version reaches its end-of-life date we stop emitting events for subscriptions on that version, so an unmigrated subscription will silently stop receiving deliveries.\n\nUpgrading is a single `PATCH` per subscription. The snippet below lists every subscription on your organization, bumps any pinned to a given older version to a specified newer one, and skips subscriptions on `next` (which track the latest stable version automatically). It uses cursor pagination so it works for organizations with any number of subscriptions.\n\n```typescript\n// Upgrade webhook subscriptions from 2026-02-01 -> 2026-04-01. Skip \"next\".\nconst BASE = \"https://console.xbow.com\";\nconst ORG_ID = \"your-organization-id\";\nconst API_KEY = \"your-api-key\";\nconst OLD = \"2026-02-01\";\nconst NEW = \"2026-04-01\";\n\nconst headers = { Authorization: `Bearer ${API_KEY}`, \"X-XBOW-API-Version\": NEW };\n\nasync function* paginate<T>(url: string): AsyncGenerator<T> {\n  let cursor: string | null = null;\n  do {\n    const u = new URL(url);\n    if (cursor) u.searchParams.set(\"cursor\", cursor);\n    const res = await fetch(u, { headers });\n    if (!res.ok) throw new Error(`${res.status} ${await res.text()}`);\n    const page = (await res.json()) as { items: T[]; nextCursor: string | null };\n    yield* page.items;\n    cursor = page.nextCursor;\n  } while (cursor);\n}\n\ntype Sub = { id: string; apiVersion: string };\nfor await (const wh of paginate<Sub>(`${BASE}/api/v1/organizations/${ORG_ID}/webhooks`)) {\n  if (wh.apiVersion === \"next\") { console.log(`skip   ${wh.id} (next)`); continue; }\n  if (wh.apiVersion !== OLD)    { console.log(`skip   ${wh.id} (${wh.apiVersion})`); continue; }\n  const res = await fetch(`${BASE}/api/v1/webhooks/${wh.id}`, {\n    method: \"PATCH\",\n    headers: { ...headers, \"Content-Type\": \"application/json\" },\n    body: JSON.stringify({ apiVersion: NEW }),\n  });\n  if (!res.ok) throw new Error(`${res.status} ${await res.text()}`);\n  console.log(`bump   ${wh.id} ${OLD} -> ${NEW}`);\n}\n```\n\nAn `apiVersion`-only `PATCH` does not re-validate your endpoint, so the upgrade is cheap and safe to run for many subscriptions at once. A `PATCH` that changes `targetUrl` does re-send the validation pings described above, and must receive a 2xx for the valid ping to succeed.\n"
  name: Webhooks
paths:
  /api/v1/organizations/{organizationId}/webhooks:
    get:
      description: 'Lists all webhook subscriptions for an organization.


        Supports pagination via `limit` and `after` query parameters.


        Requires an _organization_ API key.'
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - in: query
        name: after
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - description: API version to use for this request
        in: header
        name: X-XBOW-API-Version
        required: true
        schema:
          enum:
          - '2026-07-01'
          example: '2026-07-01'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                example:
                  items:
                  - apiVersion: next
                    createdAt: '2025-01-01T00:00:00Z'
                    events:
                    - asset.changed
                    - assessment.changed
                    id: 123e4567-e89b-12d3-a456-426614174000
                    targetUrl: https://example.com/webhook
                    updatedAt: '2025-01-01T00:00:00Z'
                  nextCursor: eyJjcmVhdGVkQXQiOiIyMDI1LTAxLTAxVDAwOjAwOjAwWiIsImlkIjoiMTIzZTQ1NjctZTg5Yi0xMmQzLWE0NTYtNDI2NjE0MTc0MDAwIn0=
                properties:
                  items:
                    items:
                      properties:
                        apiVersion:
                          enum:
                          - '2026-02-01'
                          - '2026-04-01'
                          - '2026-06-01'
                          - '2026-07-01'
                          - '2026-08-01'
                          - next
                          type: string
                        createdAt:
                          format: date-time
                          type: string
                        events:
                          items:
                            anyOf:
                            - enum:
                              - ping
                              type: string
                            - enum:
                              - target.changed
                              type: string
                            - enum:
                              - asset.changed
                              type: string
                            - enum:
                              - assessment.changed
                              type: string
                            - enum:
                              - finding.changed
                              type: string
                            - enum:
                              - challenge.changed
                              type: string
                            - enum:
                              - '*'
                              type: string
                          minItems: 1
                          type: array
                        id:
                          type: string
                        targetUrl:
                          format: uri
                          type: string
                        updatedAt:
                          format: date-time
                          type: string
                      required:
                      - apiVersion
                      - createdAt
                      - events
                      - id
                      - targetUrl
                      - updatedAt
                      type: object
                    type: array
                  nextCursor:
                    type: string
                required:
                - items
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - FST_ERR_VALIDATION
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Bad Request
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: Default Response
      security:
      - Authorization: []
      summary: List webhook subscriptions
      tags:
      - Webhooks
    post:
      description: 'Creates a new webhook subscription for an organization. Upon completion XBOW will deliver 2 `ping` events, one with a valid and one with an invalid signature.


        Requires an _organization_ API key.'
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - description: API version to use for this request
        in: header
        name: X-XBOW-API-Version
        required: true
        schema:
          enum:
          - '2026-07-01'
          example: '2026-07-01'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                apiVersion: next
                events:
                - asset.changed
                - assessment.changed
                targetUrl: https://example.com/webhook
              properties:
                apiVersion:
                  enum:
                  - '2026-04-01'
                  - '2026-06-01'
                  - '2026-07-01'
                  - next
                  type: string
                events:
                  items:
                    anyOf:
                    - enum:
                      - ping
                      type: string
                    - enum:
                      - asset.changed
                      type: string
                    - enum:
                      - assessment.changed
                      type: string
                    - enum:
                      - finding.changed
                      type: string
                    - enum:
                      - challenge.changed
                      type: string
                    - enum:
                      - '*'
                      type: string
                  minItems: 1
                  type: array
                targetUrl:
                  format: uri
                  type: string
              required:
              - apiVersion
              - events
              - targetUrl
              type: object
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                example:
                  apiVersion: next
                  createdAt: '2025-01-01T00:00:00Z'
                  events:
                  - asset.changed
                  - assessment.changed
                  id: 123e4567-e89b-12d3-a456-426614174000
                  targetUrl: https://example.com/webhook
                  updatedAt: '2025-01-01T00:00:00Z'
                properties:
                  apiVersion:
                    enum:
                    - '2026-02-01'
                    - '2026-04-01'
                    - '2026-06-01'
                    - '2026-07-01'
                    - '2026-08-01'
                    - next
                    type: string
                  createdAt:
                    format: date-time
                    type: string
                  events:
                    items:
                      anyOf:
                      - enum:
                        - ping
                        type: string
                      - enum:
                        - target.changed
                        type: string
                      - enum:
                        - asset.changed
                        type: string
                      - enum:
                        - assessment.changed
                        type: string
                      - enum:
                        - finding.changed
                        type: string
                      - enum:
                        - challenge.changed
                        type: string
                      - enum:
                        - '*'
                        type: string
                    minItems: 1
                    type: array
                  id:
                    type: string
                  targetUrl:
                    format: uri
                    type: string
                  updatedAt:
                    format: date-time
                    type: string
                required:
                - apiVersion
                - createdAt
                - events
                - id
                - targetUrl
                - updatedAt
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - FST_ERR_VALIDATION
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Bad Request
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: Default Response
      security:
      - Authorization: []
      summary: Create webhook subscription
      tags:
      - Webhooks
  /api/v1/webhooks/{webhookId}:
    delete:
      description: 'Deletes a webhook subscription.


        Requires an _organization_ API key.'
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: string
      - description: API version to use for this request
        in: header
        name: X-XBOW-API-Version
        required: true
        schema:
          enum:
          - '2026-07-01'
          example: '2026-07-01'
          type: string
      responses:
        '204':
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - FST_ERR_VALIDATION
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Bad Request
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - ERR_NOT_FOUND
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Not Found
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: The requested resource was not found
      security:
      - Authorization: []
      summary: Delete webhook subscription
      tags:
      - Webhooks
    get:
      description: 'Gets a specific webhook subscription by ID.


        Requires an _organization_ API key.'
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: string
      - description: API version to use for this request
        in: header
        name: X-XBOW-API-Version
        required: true
        schema:
          enum:
          - '2026-07-01'
          example: '2026-07-01'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                example:
                  apiVersion: next
                  createdAt: '2025-01-01T00:00:00Z'
                  events:
                  - asset.changed
                  - assessment.changed
                  id: 123e4567-e89b-12d3-a456-426614174000
                  targetUrl: https://example.com/webhook
                  updatedAt: '2025-01-01T00:00:00Z'
                properties:
                  apiVersion:
                    enum:
                    - '2026-02-01'
                    - '2026-04-01'
                    - '2026-06-01'
                    - '2026-07-01'
                    - '2026-08-01'
                    - next
                    type: string
                  createdAt:
                    format: date-time
                    type: string
                  events:
                    items:
                      anyOf:
                      - enum:
                        - ping
                        type: string
                      - enum:
                        - target.changed
                        type: string
                      - enum:
                        - asset.changed
                        type: string
                      - enum:
                        - assessment.changed
                        type: string
                      - enum:
                        - finding.changed
                        type: string
                      - enum:
                        - challenge.changed
                        type: string
                      - enum:
                        - '*'
                        type: string
                    minItems: 1
                    type: array
                  id:
                    type: string
                  targetUrl:
                    format: uri
                    type: string
                  updatedAt:
                    format: date-time
                    type: string
                required:
                - apiVersion
                - createdAt
                - events
                - id
                - targetUrl
                - updatedAt
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - FST_ERR_VALIDATION
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Bad Request
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - ERR_NOT_FOUND
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Not Found
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: The requested resource was not found
      security:
      - Authorization: []
      summary: Get webhook subscription
      tags:
      - Webhooks
    patch:
      description: 'Updates an existing webhook subscription.


        Requires an _organization_ API key.'
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: string
      - description: API version to use for this request
        in: header
        name: X-XBOW-API-Version
        required: true
        schema:
          enum:
          - '2026-07-01'
          example: '2026-07-01'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                targetUrl: https://example.com/new-webhook
              properties:
                apiVersion:
                  enum:
                  - '2026-04-01'
                  - '2026-06-01'
                  - '2026-07-01'
                  - next
                  type: string
                events:
                  items:
                    anyOf:
                    - enum:
                      - ping
                      type: string
                    - enum:
                      - asset.changed
                      type: string
                    - enum:
                      - assessment.changed
                      type: string
                    - enum:
                      - finding.changed
                      type: string
                    - enum:
                      - challenge.changed
                      type: string
                    - enum:
                      - '*'
                      type: string
                  minItems: 1
                  type: array
                targetUrl:
                  format: uri
                  type: string
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                example:
                  apiVersion: next
                  createdAt: '2025-01-01T00:00:00Z'
                  events:
                  - asset.changed
                  - assessment.changed
                  id: 123e4567-e89b-12d3-a456-426614174000
                  targetUrl: https://example.com/webhook
                  updatedAt: '2025-01-01T00:00:00Z'
                properties:
                  apiVersion:
                    enum:
                    - '2026-02-01'
                    - '2026-04-01'
                    - '2026-06-01'
                    - '2026-07-01'
                    - '2026-08-01'
                    - next
                    type: string
                  createdAt:
                    format: date-time
                    type: string
                  events:
                    items:
                      anyOf:
                      - enum:
                        - ping
                        type: string
                      - enum:
                        - target.changed
                        type: string
                      - enum:
                        - asset.changed
                        type: string
                      - enum:
                        - assessment.changed
                        type: string
                      - enum:
                        - finding.changed
                        type: string
                      - enum:
                        - challenge.changed
                        type: string
                      - enum:
                        - '*'
                        type: string
                    minItems: 1
                    type: array
                  id:
                    type: string
                  targetUrl:
                    format: uri
                    type: string
                  updatedAt:
                    format: date-time
                    type: string
                required:
                - apiVersion
                - createdAt
                - events
                - id
                - targetUrl
                - updatedAt
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                anyOf:
                - properties:
                    code:
                      description: A constant for machines
                      enum:
                      - FST_ERR_VALIDATION
                      type: string
                    error:
                      description: A human readable string for the constant
                      enum:
                      - Bad Request
                      type: string
                    message:
                      description: A human readable message
                      type: string
                    requestId:
                      description: A unique identifier for the request
                      type: string
                  required:
                  - code
                  - error
                  - message
                  - requestId
                  type: object
                - properties:
                    code:
                      description: A constant for machines
                      enum:
                      - ERR_DEPRECATED_VERSION
                      type: string
                    error:
                      description: A human readable string for the constant
                      enum:
                      - Bad Request
                      type: string
                    message:
                      description: A human readable message
                      type: string
                    requestId:
                      description: A unique identifier for the request
                      type: string
                  required:
                  - code
                  - error
                  - message
                  - requestId
                  type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - ERR_NOT_FOUND
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Not Found
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: The requested resource was not found
      security:
      - Authorization: []
      summary: Update webhook subscription
      tags:
      - Webhooks
  /api/v1/webhooks/{webhookId}/deliveries:
    get:
      description: 'Lists delivery history for a specific webhook subscription.


        Supports pagination via `limit` and `after` query parameters.


        Requires an _organization_ API key.'
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - in: query
        name: after
        required: false
        schema:
          type: string
      - in: path
        name: webhookId
        required: true
        schema:
          type: string
      - description: API version to use for this request
        in: header
        name: X-XBOW-API-Version
        required: true
        schema:
          enum:
          - '2026-07-01'
          example: '2026-07-01'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                example:
                  items:
                  - payload:
                      eventId: 123e4567-e89b-12d3-a456-426614174000
                      type: ping
                    request:
                      body: '{"eventId":"123e4567-e89b-12d3-a456-426614174000","type":"ping"}'
                      headers:
                        Content-Type: application/json
                        X-Signature-Ed25519: a1b2c3d4e5f6...
                        X-Signature-Timestamp: '1735689600'
                    response:
                      body: ''
                      headers:
                        Connection: close
                        Date: Wed, 01 Jan 2025 00:00:00 GMT
                      status: 204
                    sentAt: '2025-01-01T00:00:00Z'
                    success: true
                  nextCursor: eyJjcmVhdGVkQXQiOiIyMDI1LTAxLTAxVDAwOjAwOjAwWiIsImlkIjoiMTIzZTQ1NjctZTg5Yi0xMmQzLWE0NTYtNDI2NjE0MTc0MDAwIn0=
                properties:
                  items:
                    items:
                      properties:
                        payload:
                          description: The webhook event payload that was delivered. Structure varies by event type and API version used to send the webhook.
                        request:
                          properties:
                            body:
                              type: string
                            headers:
                              additionalProperties:
                                type: string
                              type: object
                          required:
                          - body
                          - headers
                          type: object
                        response:
                          properties:
                            body:
                              description: Up to 1000 bytes of response body
                              type: string
                            headers:
                              additionalProperties:
                                type: string
                              type: object
                            status:
                              maximum: 9007199254740991
                              minimum: -9007199254740991
                              type: integer
                          required:
                          - body
                          - headers
                          - status
                          type: object
                        sentAt:
                          format: date-time
                          type: string
                        success:
                          type: boolean
                      required:
                      - payload
                      - request
                      - response
                      - sentAt
                      - success
                      type: object
                    type: array
                  nextCursor:
                    type: string
                required:
                - items
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - FST_ERR_VALIDATION
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Bad Request
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - ERR_NOT_FOUND
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Not Found
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: The requested resource was not found
      security:
      - Authorization: []
      summary: List webhook subscription deliveries
      tags:
      - Webhooks
  /api/v1/webhooks/{webhookId}/ping:
    post:
      description: 'Sends a ping event to a webhook subscription to test connectivity.


        Requires an _organization_ API key.'
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: string
      - description: API version to use for this request
        in: header
        name: X-XBOW-API-Version
        required: true
        schema:
          enum:
          - '2026-07-01'
          example: '2026-07-01'
          type: string
      responses:
        '204':
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                oneOf:
                - properties:
                    code:
                      description: A constant for machines
                      enum:
                      - FST_ERR_VALIDATION
                      type: string
                    error:
                      description: A human readable string for the constant
                      enum:
                      - Bad Request
                      type: string
                    message:
                      description: A human readable message
                      type: string
                    requestId:
                      description: A unique identifier for the request
                      type: string
                  required:
                  - code
                  - error
                  - message
                  - requestId
                  type: object
                - description: The webhook endpoint returned an error
                  properties:
                    code:
                      description: A constant for machines
                      enum:
                      - ERR_WEBHOOK
                      type: string
                    error:
                      description: A human readable string for the constant
                      enum:
                      - Webhook Ping Failed
                      type: string
                    message:
                      description: A human readable message
                      type: string
                    requestId:
                      description: A unique identifier for the request
                      type: string
                  required:
                  - code
                  - error
                  - message
                  - requestId
                  type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - ERR_NOT_FOUND
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Not Found
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: The requested resource was not found
      security:
      - Authorization: []
      summary: Ping webhook subscription
      tags:
      - Webhooks
webhooks:
  assessment.changed:
    post:
      description: Sent when an `assessment.changed` event occurs.
      requestBody:
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              properties:
                assessment:
                  properties:
                    assetId:
                      example: 123e4567-e89b-12d3-a456-426614174000
                      type: string
                    attackCredits:
                      maximum: 9007199254740991
                      minimum: 0
                      type: integer
                    createdAt: {}
                    id:
                      example: 123e4567-e89b-12d3-a456-426614174000
                      type: string
                    name:
                      type: string
                    organizationId:
                      example: 123e4567-e89b-12d3-a456-426614174000
                      type: string
                    progress:
                      maximum: 1
                      minimum: 0
                      type: number
                    recentEvents:
                      items:
                        oneOf:
                        - properties:
                            name:
                              const: paused
                              type: string
                            timestamp: {}
                          required:
                          - name
                          - timestamp
                          type: object
                        - properties:
                            name:
                              const: auto-paused
                              type: string
                            reason:
                              default: unknown
                              enum:
                              - account-locked
                              - account-not-fully-registered
                              - ambiguous-authentication-method
                              - approved-hours
                              - auth-max-iter
                              - auth-network-error
                              - auth-unexpected-error
                              - auth-unknown
                              - bad-signing-credentials
                              - bot-detection-blocked
                              - captcha-blocked
                              - concurrent-login-limit
                              - explicit-request
                              - http-errors
                              - infrastructure-unavailable
                              - invalid-credentials
                              - ip-allowlist-blocked
                              - login-rate-limit
                              - mfa-email-never-arrived
                              - missing-mfa-factor
                              - model-error
                              - network-rate-limit
                              - no-authentication-method
                              - proxy-error
                              - session-could-not-be-validated
                              - site-unavailable
                              - target-unavailable
                              - target-unreachable
                              - unknown
                              - waf-blocked
                              type: string
                            timestamp: {}
                          required:
                          - name
                          - reason
                          - timestamp
                          type: object
                        - properties:
                            name:
                              const: resumed
                              type: string
                            timestamp: {}
                          required:
                          - name
                          - timestamp
                          type: object
                      type: array
                    state:
                      description: 'Current state of the assessment:


                        - `waiting-for-capacity`: queued waiting for resources to start assessment

                        - `running`: assessment released from queue, started and looking for exploits

                        - `succeeded`: assessment finished running (report has not been generated yet)

                        - `report-ready`: assessment finished and the report is ready to be downloaded

                        - `failed`: assessment failed for internal reasons (e.g. infra, extended foundation model outage, etc.)

                        - `cancelling`: assessment was cancelled by the user before it could complete, teardown in progress

                        - `cancelled`: assessment was cancelled by the user before it could complete, teardown complete

                        - `paused`: assessment paused by user

                        - `waiting-for-time-window`: assessment temporarily paused by XBOW and it will automatically resume as soon as the necessary time window is met

                        '
                      enum:
                      - cancelled
                      - cancelling
                      - failed
                      - paused
                      - report-ready
                      - running
                      - succeeded
                      - waiting-for-capacity
                      - waiting-for-time-window
                      type: string
                    updatedAt: {}
                  required:
                  - assetId
                  - attackCredits
                  - createdAt
                  - id
                  - name
                  - organizationId
                  - progress
                  - recentEvents
                  - state
                  - updatedAt
                  type: object
                eventId:
                  example: 123e4567-e89b-12d3-a456-426614174000
                  type: string
                type:
                  const: assessment.changed
                  type: string
              required:
              - assessment
              - eventId
              - type
              type: object
        required: true
      responses:
        '200':
          description: Webhook received successfully
      summary: Assessment changed
      tags:
      - Webhooks
  asset.changed:
    post:
      description: Sent when an `asset.changed` event occurs.
      requestBody:
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              properties:
                asset:
                  properties:
                    approvedTimeWindows:
                      anyOf:
                      - properties:
                          entries:
                            items:
                              properties:
                                endTime:
                                  description: End time in HH:mm format
                                  pattern: ^-?\d+(?:\.\d+)?-?\d+(?:\.\d+)?:-?\d+(?:\.\d+)?-?\d+(?:\.\d+)?$
                                  type: string
                                endWeekday:
                                  description: End day where 1 == Monday, 7 == Sunday
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  - 5
                                  - 6
                                  - 7
                                  type: number
                                startTime:
                                  description: Start time in HH:mm format
                                  pattern: ^-?\d+(?:\.\d+)?-?\d+(?:\.\d+)?:-?\d+(?:\.\d+)?-?\d+(?:\.\d+)?$
                                  type: string
                                startWeekday:
                                  description: Start day where 1 == Monday, 7 == Sunday
                                  enum:
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  - 5
                                  - 6
                                  - 7
                                  type: number
                              required:
                              - endTime
                              - endWeekday
                              - startTime
                              - startWeekday
                              type: object
                            type: array
                          tz:
                            description: IANA timezone name, e.g. 'Europe/Berlin'
                            type: string
                        required:
                        - entries
                        - tz
                        type: object
                      - type: 'null'
                    archiveAt:
                      anyOf:
                      - {}
                      - type: 'null'
                      description: When the asset will be (or was) archived
                    authorizationHeaderDomains:
                      description: 'Controls which domains receive the application''s authorization headers during assessment:


                        - `attackable`: `Authorization` headers are only sent to domains with `allow-attack` DNS boundary rules (default)

                        - `all`: `Authorization` headers are also sent to domains with `allow-visit` rules'
                      enum:
                      - all
                      - attackable
                      type: string
                    checks:
                      properties:
                        assetReachable:
                          properties:
                            error:
                              anyOf:
                              - oneOf:
                                - description: Unable to resolve domain name
                                  properties:
                                    code:
                                      type: string
                                    type:
                                      const: dns
                                      type: string
                                  required:
                                  - code
                                  - type
                                  type: object
                                - description: Timed out whilst trying to reach the URL
                                  properties:
                                    type:
                                      const: timeout
                                      type: string
                                  required:
                                  - type
                                  type: object
                                - description: Unable to connect to site
                                  properties:
                                    code:
                                      type: string
                                    type:
                                      const: network
                                      type: string
                                  required:
                                  - code
                                  - type
                                  type: object
                                - description: Non 2xx status response received
                                  properties:
                                    status:
                                      type: number
                                    type:
                                      const: http
                                      type: string
                                  required:
                                  - status
                                  - type
                                  type: object
                                - description: Detected WAF blocking access
                                  properties:
                                    type:
                                      const: waf
                                      type: string
                                    wafProvider:
                                      enum:
                                      - cloudflare-access
                                      - cloudflare-challenge
                                      type: string
                                  required:
                                  - type
                                  type: object
                              - type: 'null'
                            message:
                              type: string
                            state:
                              enum:
                              - checking
                              - invalid
                              - unchecked
                              - valid
                              type: string
                          required:
                          - error
                          - message
                          - state
                          type: object
                        credentials:
                          properties:
                            error:
                              anyOf:
                              - properties:
                                  type:
                                    type: string
                                required:
                                - type
                                type: object
                              - type: 'null'
                            message:
                              type: string
                            state:
                              enum:
                              - checking
                              - invalid
                              - unchecked
                              - valid
                              type: string
                          required:
                          - error
                          - message
                          - state
                          type: object
                        dnsBoundaryRules:
                          properties:
                            error:
                              anyOf:
                              - properties:
                                  type:
                                    type: string
                                required:
                                - type
                                type: object
                              - type: 'null'
                            message:
                              type: string
                            state:
                              enum:
                              - checking
                              - invalid
                              - unchecked
                              - valid
                              type: string
                          required:
                          - error
                          - message
                          - state
                          type: object
                        updatedAt:
                          anyOf:
                          - {}
                          - type: 'null'
                      required:
                      - assetReachable
                      - credentials
                      - dnsBoundaryRules
                      - updatedAt
                      type: object
                    createdAt: {}
                    credentials:
                      anyOf:
                      - items:
                          properties:
                            authenticatorUri:
                              anyOf:
                              - pattern: ^otpauth:\/\/.*
                                type: string
                              - type: 'null'
                            emailAddress:
                              anyOf:
                              - format: email
                                pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                                type: string
                              - type: 'null'
                            id:
                              example: 123e4567-e89b-12d3-a456-426614174000
                              type: string
                            name:
                              type: string
                            password:
                              type: string
                            type:
                              const: username-password
                              type: string
                            username:
                              type: string
                          required:
                          - id
                          - name
                          - password
                          - type
                          - username
                          type: object
                        type: array
                      - type: 'null'
                    customHeaderDomains:
                      description: 'Controls which domains receive the application''s custom headers during assessment:


                        - `attackable`: Any custom headers are only sent to domains with `allow-attack` DNS boundary rules (default)

                        - `all`: Any custom headers are also sent to domains with `allow-visit` rules'
                      enum:
                      - all
                      - attackable
                      type: string
                    dnsBoundaryRules:
                      anyOf:
                      - items:
                          properties:
                            action:
                              enum:
                              - allow-attack
                              - allow-visit
                              - deny
                              type: string
                            filter:
                              type: string
                            id:
                              example: 123e4567-e89b-12d3-a456-426614174000
                              type: string
                            includeSubdomains:
                              type: boolean
                            type:
                              enum:
                              - glob
                              type: string
                          required:
                          - action
                          - filter
                          - id
                          - type
                          type: object
                        type: array
                      - type: 'null'
                    headers:
                      anyOf:
                      - additionalProperties:
                          anyOf:
                          - type: string
                          - items:
                              type: string
                            type: array
                        propertyNames:
                          type: string
                        type: object
                      - type: 'null'
                    httpBoundaryRules:
                      anyOf:
                      - items:
                          properties:
                            action:
                              enum:
                              - allow-attack
                              - allow-auth
                              - allow-visit
                              - deny
                              type: string
                            filter:
                              type: string
                            id:
                              example: 123e4567-e89b-12d3-a456-426614174000
                              type: string
                            includeSubdomains:
                              type: boolean
                            type:
                              enum:
                              - contains
                              - exact
                              - glob
                              - prefix
                              - regexp
                              type: string
                          required:
                          - action
                          - filter
                          - id
                          - type
                          type: object
                        type: array
                      - type: 'null'
                    id:
                      example: 123e4567-e89b-12d3-a456-426614174000
                      type: string
                    lifecycle:
                      default: active
                      enum:
                      - active
                      - archived
                      type: string
                    maxRequestsPerSecond:
                      anyOf:
                      - exclusiveMinimum: 0
                        maximum: 9007199254740991
                        type: integer
                      - type: 'null'
                    name:
                      type: string
                    organizationId:
                      example: 123e4567-e89b-12d3-a456-426614174000
                      type: string
                    sku:
                      default: standard-sku
                      description: Determines parameters used for assessment
                      type: string
                    startUrl:
                      anyOf:
                      - format: uri
                        type: string
                      - type: 'null'
                    updatedAt: {}
                  required:
                  - approvedTimeWindows
                  - archiveAt
                  - authorizationHeaderDomains
                  - checks
                  - createdAt
                  - credentials
                  - customHeaderDomains
                  - dnsBoundaryRules
                  - headers
                  - httpBoundaryRules
                  - id
                  - lifecycle
                  - maxRequestsPerSecond
                  - name
                  - organizationId
                  - sku
                  - startUrl
                  - updatedAt
                  type: object
                eventId:
                  example: 123e4567-e89b-12d3-a456-426614174000
                  type: string
                type:
                  const: asset.changed
                  type: string
              required:
              - asset
              - eventId
              - type
              type: object
        required: true
      responses:
        '200':
          description: Webhook received successfully
      summary: Asset changed
      tags:
      - Webhooks
  challenge.changed:
    post:
      description: Sent when a `challenge.changed` event occurs.
      requestBody:
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              properties:
                challenge:
                  properties:
                    createdAt: {}
                    findingId:
                      example: 123e4567-e89b-12d3-a456-426614174000
                      type: string
                    id:
                      example: 123e4567-e89b-12d3-a456-426614174000
                      type: string
                    justification:
                      description: User's justification for challenging the finding
                      type: string
                    response:
                      anyOf:
                      - type: string
                      - type: 'null'
                      description: XBOW's response to the challenge, null while under review
                    status:
                      description: Current status of the challenge review
                      enum:
                      - completed
                      - under-review
                      type: string
                    updatedAt: {}
                  required:
                  - createdAt
                  - findingId
                  - id
                  - justification
                  - response
                  - status
                  - updatedAt
                  type: object
                eventId:
                  example: 123e4567-e89b-12d3-a456-426614174000
                  type: string
                type:
                  const: challenge.changed
                  type: string
              required:
              - challenge
              - eventId
              - type
              type: object
        required: true
      responses:
        '200':
          description: Webhook received successfully
      summary: Challenge changed
      tags:
      - Webhooks
  finding.changed:
    post:
      description: Sent when a `finding.changed` event occurs.
      requestBody:
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              properties:
                eventId:
                  example: 123e4567-e89b-12d3-a456-426614174000
                  type: string
                finding:
                  properties:
                    assetId:
                      example: 123e4567-e89b-12d3-a456-426614174000
                      type: string
                    createdAt: {}
                    cvss:
                      additionalProperties:
                        properties:
                          fields:
                            description: Decomposed CVSS vector components
                            properties:
                              A:
                                enum:
                                - H
                                - L
                                - N
                                type: string
                              AC:
                                enum:
                                - H
                                - L
                                type: string
                              AR:
                                enum:
                                - H
                                - L
                                - M
                                - X
                                type: string
                              AV:
                                enum:
                                - A
                                - L
                                - N
                                - P
                                type: string
                              C:
                                enum:
                                - H
                                - L
                                - N
                                type: string
                              CR:
                                enum:
                                - H
                                - L
                                - M
                                - X
                                type: string
                              E:
                                enum:
                                - F
                                - H
                                - P
                                - U
                                - X
                                type: string
                              I:
                                enum:
                                - H
                                - L
                                - N
                                type: string
                              IR:
                                enum:
                                - H
                                - L
                                - M
                                - X
                                type: string
                              MA:
                                enum:
                                - H
                                - L
                                - N
                                - X
                                type: string
                              MAC:
                                enum:
                                - H
                                - L
                                - X
                                type: string
                              MAV:
                                enum:
                                - A
                                - L
                                - N
                                - P
                                - X
                                type: string
                              MC:
                                enum:
                                - H
                                - L
                                - N
                                - X
                                type: string
                              MI:
                                enum:
                                - H
                                - L
                                - N
                                - X
                                type: string
                              MPR:
                                enum:
                                - H
                                - L
                                - N
                                - X
                                type: string
                              MS:
                                enum:
                                - C
                                - U
                                - X
                                type: string
                              MUI:
                                enum:
                                - N
                                - R
                                - X
                                type: string
                              PR:
                                enum:
                                - H
                                - L
                                - N
                                type: string
                              RC:
                                enum:
                                - C
                                - R
                                - U
                                - X
                                type: string
                              RL:
                                enum:
                                - O
                                - T
                                - U
                                - W
                                - X
                                type: string
                              S:
                                enum:
                                - C
                                - U
                                type: string
                              UI:
                                enum:
                                - N
                                - R
                                type: string
                            required:
                            - A
                            - AC
                            - AV
                            - C
                            - I
                            - PR
                            - S
                            - UI
                            type: object
                          score:
                            description: CVSS score from 0.0 to 10.0
                            type: number
                          vector:
                            description: CVSS vector string, e.g. CVSS:3.1/AV:N/AC:L/PR:N/UI:R/S:C/C:L/I:L/A:N
                            type: string
                        required:
                        - fields
                        - score
                        - vector
                        type: object
                      description: CVSS scores for this finding, keyed by version. Not all findings have a CVSS score.
                      propertyNames:
                        type: string
                      type: object
                    cwe:
                      description: CWE identifier for this finding (e.g. CWE-79). Not all findings have a CWE.
                      type: string
                    evidence:
                      description: Evidence demonstrating the vulnerability such as a proof-of-concept exploit or request/response logs
                      type: string
                    externalTicketReference:
                      anyOf:
                      - maxLength: 1024
                        type: string
                      - type: 'null'
                      description: Customer-supplied reference to a ticket in an external system (e.g. a Jira key), or null if not set.
                    externalWorkflowState:
                      anyOf:
                      - description: 'Customer-controlled workflow state for tracking remediation in your own process. Independent of the XBOW-owned `state`:


                          - `not-started`: remediation has not begun

                          - `in-progress`: remediation is underway

                          - `completed`: remediation is complete


                          `null` means the workflow state has never been set, which is distinct from `not-started`.'
                        enum:
                        - completed
                        - in-progress
                        - not-started
                        type: string
                      - type: 'null'
                      description: Customer-controlled workflow state, or null if never set.
                    id:
                      example: 123e4567-e89b-12d3-a456-426614174000
                      type: string
                    impact:
                      description: Markdown description of the impact of the finding
                      type: string
                    mitigations:
                      description: Markdown description of possible mitigations for the finding
                      type: string
                    name:
                      type: string
                    organizationId:
                      example: 123e4567-e89b-12d3-a456-426614174000
                      type: string
                    recipe:
                      description: Markdown instructions on how to reproduce the finding
                      type: string
                    severity:
                      description: 'Severity level of the finding:


                        - `critical`: Highest severity, requires immediate attention

                        - `high`: High severity, should be addressed soon

                        - `medium`: Medium severity

                        - `low`: Low severity

                        - `informational`: Informational only, no immediate action required

                        '
                      enum:
                      - critical
                      - high
                      - informational
                      - low
                      - medium
                      type: string
                    state:
                      description: 'Current state of the finding:


                        - `open`: new finding discovered by XBOW

                        - `challenged`: finding challenged by user

                        - `confirmed`: finding challenged by user, but confirmed by XBOW as a true positive, cannot be challenged again

                        - `invalid`: finding challenged by user, and confirmed by XBOW as a false positive, cannot be challenged again

                        - `fixed`: finding fixed by user

                        '
                      enum:
                      - challenged
                      - confirmed
                      - fixed
                      - invalid
                      - open
                      type: string
                    summary:
                      description: Markdown high-level overview of the finding
                      type: string
                    updatedAt: {}
                  required:
                  - assetId
                  - createdAt
                  - evidence
                  - externalTicketReference
                  - externalWorkflowState
                  - id
                  - impact
                  - mitigations
                  - name
                  - organizationId
                  - recipe
                  - severity
                  - state
                  - summary
                  - updatedAt
                  type: object
                type:
                  const: finding.changed
                  type: string
              required:
              - eventId
              - finding
              - type
              type: object
        required: true
      responses:
        '200':
          description: Webhook received successfully
      summary: Finding changed
      tags:
      - Webhooks
  ping:
    post:
      description: Sent when a `ping` event occurs.
      requestBody:
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              properties:
                eventId:
                  example: 123e4567-e89b-12d3-a456-426614174000
                  type: string
                type:
                  const: ping
                  type: string
              required:
              - eventId
              - type
              type: object
        required: true
      responses:
        '200':
          description: Webhook received successfully
      summary: Webhook connectivity test
      tags:
      - Webhooks
components:
  securitySchemes:
    Authorization:
      bearerFormat: API Key
      description: Authorization header with Bearer token
      scheme: bearer
      type: http
