openapi: 3.2.0
info:
  description: '# Versioning


    The API is in public preview.'
  title: XBOW Resources API
  version: '2026-07-01'
servers:
- description: Default
  url: https://console.xbow.com/
- description: Multi SAAS - Europe data resident instance
  url: https://console.eu.xbow.com/
- description: Multi SAAS - Asia Pacific data resident instance
  url: https://console.sg.xbow.com/
tags:
- description: Upload and manage files used in assessments, such as source code archives.
  name: Resources
paths:
  /api/v1/organizations/{organizationId}/resources:
    get:
      description: List resources in an organization.
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - in: query
        name: after
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - description: API version to use for this request
        in: header
        name: X-XBOW-API-Version
        required: true
        schema:
          enum:
          - '2026-07-01'
          example: '2026-07-01'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  items:
                    items:
                      properties:
                        createdAt:
                          format: date-time
                          type: string
                        fileName:
                          type: string
                        id:
                          type: string
                        name:
                          type: string
                        sha256:
                          anyOf:
                          - type: string
                          - type: 'null'
                        sizeBytes:
                          anyOf:
                          - type: number
                          - type: 'null'
                        status:
                          enum:
                          - deleted
                          - failed
                          - initiated
                          - processing
                          - ready
                          type: string
                        statusMessage:
                          anyOf:
                          - type: string
                          - type: 'null'
                        type:
                          enum:
                          - documentation
                          - report
                          - source
                          type: string
                        updatedAt:
                          format: date-time
                          type: string
                      required:
                      - createdAt
                      - fileName
                      - id
                      - name
                      - sha256
                      - sizeBytes
                      - status
                      - statusMessage
                      - type
                      - updatedAt
                      type: object
                    type: array
                  nextCursor:
                    type: string
                required:
                - items
                type: object
          description: Default Response
      security:
      - Authorization: []
      summary: List resources
      tags:
      - Resources
      operationId: getApiV1OrganizationsByOrganizationIdResources
      x-operation-id-source: derived
    post:
      description: Create a new resource in an organization. For example, source code to be used in an assessment.
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - description: API version to use for this request
        in: header
        name: X-XBOW-API-Version
        required: true
        schema:
          enum:
          - '2026-07-01'
          example: '2026-07-01'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                fileName: source.tar.gz
                name: Source code for upcoming release
                type: source
              properties:
                fileName:
                  type: string
                name:
                  type: string
                type:
                  enum:
                  - documentation
                  - report
                  - source
                  type: string
              required:
              - fileName
              - name
              - type
              type: object
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  createdAt:
                    format: date-time
                    type: string
                  fileName:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                  organizationId:
                    type: string
                  type:
                    enum:
                    - documentation
                    - report
                    - source
                    type: string
                  updatedAt:
                    format: date-time
                    type: string
                required:
                - createdAt
                - fileName
                - id
                - name
                - organizationId
                - type
                - updatedAt
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - FST_ERR_VALIDATION
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Bad Request
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: Default Response
      security:
      - Authorization: []
      summary: Create resource
      tags:
      - Resources
      operationId: postApiV1OrganizationsByOrganizationIdResources
      x-operation-id-source: derived
  /api/v1/resources/{resourceId}:
    delete:
      description: Delete a resource by ID.
      parameters:
      - in: path
        name: resourceId
        required: true
        schema:
          type: string
      - description: API version to use for this request
        in: header
        name: X-XBOW-API-Version
        required: true
        schema:
          enum:
          - '2026-07-01'
          example: '2026-07-01'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  createdAt:
                    format: date-time
                    type: string
                  fileName:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                  organizationId:
                    type: string
                  sha256:
                    anyOf:
                    - type: string
                    - type: 'null'
                  sizeBytes:
                    anyOf:
                    - type: number
                    - type: 'null'
                  status:
                    enum:
                    - deleted
                    - failed
                    - initiated
                    - processing
                    - ready
                    type: string
                  statusMessage:
                    anyOf:
                    - type: string
                    - type: 'null'
                  type:
                    enum:
                    - documentation
                    - report
                    - source
                    type: string
                  updatedAt:
                    format: date-time
                    type: string
                required:
                - createdAt
                - fileName
                - id
                - name
                - organizationId
                - sha256
                - sizeBytes
                - status
                - statusMessage
                - type
                - updatedAt
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - ERR_NOT_FOUND
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Not Found
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: The requested resource was not found
      security:
      - Authorization: []
      summary: Delete resource
      tags:
      - Resources
      operationId: deleteApiV1ResourcesByResourceId
      x-operation-id-source: derived
    get:
      description: Get a resource by ID.
      parameters:
      - in: path
        name: resourceId
        required: true
        schema:
          type: string
      - description: API version to use for this request
        in: header
        name: X-XBOW-API-Version
        required: true
        schema:
          enum:
          - '2026-07-01'
          example: '2026-07-01'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  createdAt:
                    format: date-time
                    type: string
                  fileName:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                  organizationId:
                    type: string
                  sha256:
                    anyOf:
                    - type: string
                    - type: 'null'
                  sizeBytes:
                    anyOf:
                    - type: number
                    - type: 'null'
                  status:
                    enum:
                    - deleted
                    - failed
                    - initiated
                    - processing
                    - ready
                    type: string
                  statusMessage:
                    anyOf:
                    - type: string
                    - type: 'null'
                  type:
                    enum:
                    - documentation
                    - report
                    - source
                    type: string
                  updatedAt:
                    format: date-time
                    type: string
                required:
                - createdAt
                - fileName
                - id
                - name
                - organizationId
                - sha256
                - sizeBytes
                - status
                - statusMessage
                - type
                - updatedAt
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - ERR_NOT_FOUND
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Not Found
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: The requested resource was not found
      security:
      - Authorization: []
      summary: Get resource
      tags:
      - Resources
      operationId: getApiV1ResourcesByResourceId
      x-operation-id-source: derived
  /api/v1/resources/{resourceId}/commit:
    post:
      description: Commit a resource after all parts are uploaded.
      parameters:
      - in: path
        name: resourceId
        required: true
        schema:
          type: string
      - description: API version to use for this request
        in: header
        name: X-XBOW-API-Version
        required: true
        schema:
          enum:
          - '2026-07-01'
          example: '2026-07-01'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                parts:
                - eTag: 9b2cf535f27731c974343645a3985328-1
                  partNumber: 1
                - eTag: 1b2cf535f27731c974343645a39853aa-2
                  partNumber: 2
                sha256: 3a7bd3e2360a3d80d1c8b456426655440c5fbc1bdb1c9aafbf71e913d93
              properties:
                parts:
                  items:
                    properties:
                      eTag:
                        type: string
                      partNumber:
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                        type: integer
                    required:
                    - eTag
                    - partNumber
                    type: object
                  type: array
                sha256:
                  type: string
              required:
              - parts
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  createdAt:
                    format: date-time
                    type: string
                  fileName:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                  organizationId:
                    type: string
                  sha256:
                    anyOf:
                    - type: string
                    - type: 'null'
                  sizeBytes:
                    anyOf:
                    - type: number
                    - type: 'null'
                  status:
                    enum:
                    - deleted
                    - failed
                    - initiated
                    - processing
                    - ready
                    type: string
                  statusMessage:
                    anyOf:
                    - type: string
                    - type: 'null'
                  type:
                    enum:
                    - documentation
                    - report
                    - source
                    type: string
                  updatedAt:
                    format: date-time
                    type: string
                required:
                - createdAt
                - fileName
                - id
                - name
                - organizationId
                - sha256
                - sizeBytes
                - status
                - statusMessage
                - type
                - updatedAt
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - FST_ERR_VALIDATION
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Bad Request
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - ERR_NOT_FOUND
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Not Found
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: The requested resource was not found
        '409':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - ERR_CONFLICT
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Conflict
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: The resource already exists
      security:
      - Authorization: []
      summary: Commit resource
      tags:
      - Resources
      operationId: postApiV1ResourcesByResourceIdCommit
      x-operation-id-source: derived
  /api/v1/resources/{resourceId}/parts:
    post:
      description: Get presigned upload URLs for specific parts of a multipart upload.
      parameters:
      - in: path
        name: resourceId
        required: true
        schema:
          type: string
      - description: API version to use for this request
        in: header
        name: X-XBOW-API-Version
        required: true
        schema:
          enum:
          - '2026-07-01'
          example: '2026-07-01'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                parts:
                - 1
                - 2
                - 3
              properties:
                parts:
                  items:
                    maximum: 9007199254740991
                    minimum: 1
                    type: integer
                  type: array
              required:
              - parts
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                example:
                  parts:
                  - expiresAt: '2026-05-11T08:14:23.976Z'
                    partNumber: 1
                    url: https://presignedurl.amazonaws.com/upload?partNumber=1&uploadId=abc123
                  storageProtocol: S3
                properties:
                  parts:
                    items:
                      properties:
                        expiresAt:
                          format: date-time
                          type: string
                        partNumber:
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                          type: integer
                        url:
                          type: string
                      required:
                      - expiresAt
                      - partNumber
                      - url
                      type: object
                    type: array
                  storageProtocol:
                    enum:
                    - S3
                    type: string
                required:
                - parts
                - storageProtocol
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - FST_ERR_VALIDATION
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Bad Request
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - ERR_NOT_FOUND
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Not Found
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: The requested resource was not found
        '409':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: A constant for machines
                    enum:
                    - ERR_CONFLICT
                    type: string
                  error:
                    description: A human readable string for the constant
                    enum:
                    - Conflict
                    type: string
                  message:
                    description: A human readable message
                    type: string
                  requestId:
                    description: A unique identifier for the request
                    type: string
                required:
                - code
                - error
                - message
                - requestId
                type: object
          description: The resource already exists
      security:
      - Authorization: []
      summary: Get resource part upload URLs
      tags:
      - Resources
      operationId: postApiV1ResourcesByResourceIdParts
      x-operation-id-source: derived
components:
  securitySchemes:
    Authorization:
      bearerFormat: API Key
      description: Authorization header with Bearer token
      scheme: bearer
      type: http
